.footer {
   @media (max-width: 682px) {
      padding: 20px 0;
   }
   background-color: #fff;
   background-color: #edf4f6;

   &__container {
      @media (max-width: 682px) {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 20px;

      opacity: 0;
      transform: translateX(50%);
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;
   }
   &__container.animation {
      opacity: 1;
      transform: translateX(0);
   }
   &__box {
   }

   &__logo {
      width: 150px;
      img {
         width: 100%;
      }
   }

   &__btn-box {
      align-self: center;
   }
   &__btn-title {
      font-size: 30px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
   }
   &__call-btn1 {
      font-family: 'Karla', sans-serif;

      width: 120px;
      margin: 10px;
      font-size: 20px;
      font-weight: 500;
   }

   &__call-btn2 {
      font-family: 'Karla', sans-serif;

      margin: 10px;
      font-size: 20px;
      font-weight: 500;
   }

   &__link-box {
      align-self: center;
   }

   &__link {
      text-align: center;
      text-decoration: underline;
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      line-height: 25px;
   }
}
